.steps {
  &__container {
    @include content-width();
  }
  &__title {
    font-size: $title-fs;
    line-height: $title-fs;
    text-align: center;
  }
  &__subtitle {
    color: $add-color;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 2rem;
  }
  &__spoiler {
    width: 100%;
    margin-top: 4rem;
    overflow: hidden;
    border-radius: $border-radius;
    display: flex;
    background-color: $secondary-color;
    &-item {
      display: flex;
      //height: 40rem;
      flex-shrink: 0;
      width: 5rem;
      overflow: hidden;
      transition-duration: calc($duration * 2);
      &.active {
        flex-shrink: 1;
        width: 100%;
        .steps__spoiler-item-preview {
          pointer-events: none;
          opacity: 0;
          transition-duration: $duration;
        }
      }
      &:not(.active) {
        .steps__spoiler-item-content {
          opacity: 0;
        }
      }
      &-content {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
        padding: 2rem;
        opacity: 1;
        transition-duration: calc($duration * 2);
      }
      &-preview {
        cursor: pointer;
        font-weight: $font-weight;
        padding: 1.5rem 0.65rem;
        min-width: 5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        opacity: 1;
        transition-duration: calc($duration * 2);
        & * {
          cursor: pointer;
        }
        &--first {
          background-color: $add-color--dark;
        }
        &--second {
          background-color: $accent-color--powdery;
        }
        &--third {
          background-color: $accent-color--dirty;
        }
        &--fourth {
          background-color: $accent-color--dark;
        }
        &-number {
          font-size: 6rem;
          line-height: 6rem;
          width: fit-content;
        }
        &-titlebox {
          width: fit-content;
          font-size: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.5rem;
        }
        &-title {
          writing-mode: sideways-lr;
        }
        &-icon {
          rotate: 45deg;
          transition-duration: $duration;
          &:hover {
            rotate: 135deg;
          }
        }
      }
      &-title {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      &-text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      &-text {
        font-size: 2rem;
        line-height: 2rem;
        max-width: 55vw
      }
      &-button {
        @include button( $add-color, $accent-color, none, none, $text-color, $text-color, $accent-color );
        width: fit-content;
      }
    }
  }
}
