.team {
    position: relative;
    top: -7vw;
    width: 100%;
    height: 100%;
    aspect-ratio: 2/1;
    background-image: url('../../media/img/team2.jpg');
    background-color: $accent-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    clip-path: url(#arrow);
}