.values {
    background-color: $secondary-color;
    padding: 7rem 0;
    &__wrapper {
        max-width: 100%;
        @include content-width();
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0 0.5rem;
    }
    &__dark-wrapper {
        background-color: $primary-color;
        border-radius: calc($border-radius * 5);
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
    }
    &__item {
        max-height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1.5rem;
        &--icon {
            color: $accent-color;
            font-size: 2rem;
            text-align: left;
            padding: 2rem;
        }
        &--text {
            font-weight: $font-weight;
        }
        &--index {
            font-size: 2.5rem;
            line-height: 2.5rem;
            font-weight: $font-weight;
            &-number {
                font-size: 6rem;
            }
        }
        &--image {
            max-width: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            @supports (clip-path: path('M0 0')) {
                clip-path: url(#clip-rt);
                border-radius: 0;
            }
        }
        &--slogan {
            max-width: 100%;
            aspect-ratio: 1/1;
            background-color: $add-color;
            color: $secondary-color;
            font-size: 1.5rem;
            font-weight: $font-weight;
            text-align: center;
            @include flex-center();
            flex-direction: column;
            border-radius: 50%;
            @supports (clip-path: path('M0 0')) {
                clip-path: url(#clip-rb);
                border-radius: 0;
            }
        }
    }
}