.progress {
    position: relative;
    z-index: 1;
    &__container {
        @include content-width();
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__exit-button {
        font-size: 1.5rem;
        opacity: 0.5;
        align-self: flex-end;
        transition-duration: $duration;
        &:hover {
            rotate: 90deg;
        }
    }
    &__progressbar {
        height: 1rem;
        border-radius: $border-radius;
        overflow: hidden;
        background-color: rgba($primary-color, 0.25);
        &-inner {
            height: 100%;
            width: 5%;
            border-radius: $border-radius;
            background-color: $add-color;
            transition-duration: $duration;
        }
    }
    &__score {
        font-size: 1.5rem;
        color: $add-color;
    }
}