html,
body {
    font-family: 'Golos', sans-serif;
    font-size: $fs;
    line-height: 150%;
    text-wrap: balance;
    color: $text-color;
    background-color: $primary-color;
    width: 100%;
    overflow-x: hidden;
}
body {
    position: relative;
    z-index: 0;
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        background-color: $secondary-color;
        width: 100%;
        height: 30%;
    }
}