.request {
  background-color: $accent-color;
  border-radius: 6vw;
  padding: 4rem;
  margin-bottom: 4rem;
  &__container {
    @include content-width();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  &__titlebox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  &__linksbox {
    display: grid;
    gap: 0.5rem;
  }
  &__email {
    &-link {
      font-size: 1.125rem;
      font-weight: 550;
      text-decoration: underline;
    }
  }
  &__socials {
    display: flex;
    gap: 1rem;
  }
  &__link {
    @include flex-center();
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    &::before {
      color: $text-color
    }
    &--telegram {
      @include tg-hover();
    }
    &--vk {
      @include vk-hover();
    }
    &--instagram {
      @include insta-hover();
    }
  }
  &__questionnairye {
    text-wrap: wrap;
    &-link {
      font-weight: 550;
      text-decoration: underline;
    }
  }
}

.form {
  background-color: $text-color;
  padding: 2rem;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  &__title {
    font-size: 1.5rem;
    color: $text-color-dark;
    &-accent {
      color: $accent-color;
    }
  }
  &__input-wrapper {
    display: flex;
  }
  &__inputbox {
    position: relative;
    flex: 50%;
    display: flex;
    flex-direction: column;
    &:has(.form__input:hover) .form__label {
      color: $accent-color;
    }
    &:has(.form__input:focus) .form__label,
    &:has(.form__input:not(#input-tel):not(:placeholder-shown)) .form__label,
    &:has(#input-tel.filled) .form__label {
      translate: 0 0;
      opacity: 1;
      color: $accent-color;
      font-size: 0.9em;
    }
    &:has(#input-tel:not(.filled):not(:focus)) .form__label {
      translate: 0 2rem;
      opacity: 0.7;
    }
  }
  &__label {
    position: absolute;
    left: 0;
    top: 0;
    color: $text-color-dark;
    letter-spacing: 0;
    opacity: 0.7;
    translate: 0 2rem;
    pointer-events: none;
    transition-duration: $duration;
  }
  &__input {
    font-size: 1.5rem;
    padding: 1.8rem 0 0.5rem 0;
    background: none;
    box-shadow: 0 0.0625rem 0 0 $accent-color;
    transition-duration: $duration;
    &::placeholder {
      opacity: 0;
      transition-duration: $duration;
    }
    &:hover {
      box-shadow: 0 0.125rem 0 0 $accent-color;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0.125rem 0 0 $accent-color;
      &::placeholder {
        opacity: 1;
      }
    }
  }
  &__privacy-policy {
    font-size: 0.75rem;
    text-align: center;
    letter-spacing: 0;
    color: $text-color-dark;
    font-weight: 550;
    opacity: 0.7;
    &-link {
      text-decoration: underline;
    }
  }
  &__button {
    width: 100%;
    margin-top: 0.5rem;
    @include button(none, none, $secondary-color, $secondary-color, $text-color, $text-color, $accent-color);
  }
}
