.team {
    position: relative;
    top: -7vw;
    width: 100%;
    aspect-ratio: 2/1; // 3/2 // 2/1
    background-image: url('../media/img/team.jpg');
    background-color: $accent-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    clip-path: url(#arrow);
}