.ideas {
    padding: 8rem 0;
    &__container {
        @include content-width();
        display: grid;
        grid-template-columns: auto 70%;
    }
    &__titlebox {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__tag {
        width: fit-content;
        font-size: 0.875rem;
        color: $add-color;
        padding: 0 1rem;
        outline: 0.0625rem solid $add-color;
        border-radius: $border-radius;
        opacity: 0.7;
    }
    &__title {
        font-weight: normal;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    &__sliderbox {
        position: relative;
        &::before {
            content: '';
            pointer-events: none;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            height: 100%;
            width: 6rem;
            background: linear-gradient(to right, $primary-color, rgba(0, 0, 0, 0));
        }
    }
    &__slide {
        color: $add-color;
        padding: 2rem;
        max-width: 20rem;
        border: 0.09375rem solid $add-color;
        aspect-ratio: 1/1;
        border-radius: $border-radius;
        border-bottom-right-radius: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-text {
            text-wrap: wrap;
            font-size: 1.125rem;
        }
    }
}