.intro {
    @include flex-center();
    background-color: $primary-color;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: $block-border-radius;
    &__cover {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
    }
    &__container {
        @include content-width();
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    &__title {
        font-size: $title-fs;
        line-height: $title-fs;
        text-align: center;
    }
    &__button {
        @include button($text-color, $accent-color, $text-color, $text-color, $primary-color, $text-color, $accent-color);
    }
}