.forms {
    scroll-margin-top: 8rem;
    &__container {
        @include content-width();
    }
    &__title {
        font-size: $title-fs;
        line-height: 5rem;
    }
    &__tagsbox {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 2rem;
    }
    &__tag {
        font-size: 0.75rem;
        color: $secondary-color;
        padding: 0.25rem 1rem;
        border: 0.0625rem solid $secondary-color;
        border-radius: $border-radius;
        transition-duration: $duration;
        &:hover {
            color: $text-color;
            border-color: $text-color;
        }
        &.active {
            pointer-events: none;
            color: $text-color;
            background-color: $secondary-color;
        }
    }
    &__itembox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin-top: 4rem;
    }
    &__item {
        max-width: 19.75rem;
        aspect-ratio: 1/1;
        border: 0.0625rem solid $secondary-color;
        border-radius: $border-radius;
        padding: 2rem;
        text-wrap: wrap;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition-duration: $duration;
        &:hover {
            border-color: $text-color;
            translate: 0 -1rem;
            .forms__item-icon::before {
                transition-duration: $duration;
                filter: drop-shadow(0 0 1.25rem rgba($secondary-color, 1));
            }
            .forms__item-link {
                max-height: 2rem;
            }
        }
        &-icon {
            color: $add-color;
            font-size: 4rem;
        }
        &-link {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.875rem;
            overflow: hidden;
            max-height: 0;
            transition-duration: $duration;
            &-icon {
                color: $accent-color;
            }
        }
    }
}