
$title-fs: 4rem;
$title-fs-m: 2.5rem;
$title-fs-xs: 2rem;
$subtitle-fs: 2.5rem;
$fs: 16px;

$font-weight: 550;

$text-color: #FFFFFF;
$text-color-dark: #334650;

$primary-color: #001824;
$secondary-color: #1C5564;
$accent-color: #F7624C;
$add-color: #ADE5E4;

$add-color--dark: #74A7A0;
$accent-color--light: #FFDEB8;
$accent-color--powdery: #F3C3AF;
$accent-color--dirty: #F0AC87;
$accent-color--dark: #FF8472;

$border-radius: 2rem;
$block-border-radius: 0 0 6vw 6vw;

$shape-size: 17.185rem;

$button-padding: 0.75rem 2rem;

$duration: 0.5s;