* {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active {
  outline: none;
}

a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
a {
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
  font-size: inherit;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "Golos", sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-wrap: balance;
  color: #FFFFFF;
  background-color: #001824;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@font-face {
  font-family: "Golos";
  src: "../../fonts/GolosText-VariableFont_wght.ttf" format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 1.5rem 0;
  transition-duration: 0.5s;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  cursor: pointer;
}
.header__nav {
  display: flex;
  gap: 1rem;
}
.header__nav-item {
  position: relative;
  transition-duration: 0.5s;
}
.header__nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: #FFF;
  border-radius: 50%;
  translate: 0 1rem;
  visibility: hidden;
  animation-timing-function: ease;
}
.header__nav-item:hover::before {
  translate: 0 0.5rem;
  visibility: visible;
  transition-duration: 0.2s;
}
.header__nav-item:hover {
  translate: 0 -0.3rem;
}
.header__nav-item[data-force-hover] {
  translate: 0 -0.3rem;
  font-weight: 550;
  pointer-events: none;
}
.header__nav-item[data-force-hover]::before {
  translate: 0 0.5rem;
  visibility: visible;
  transition-duration: 0.2s;
}
.header__tel {
  position: relative;
  transition-duration: 0.5s;
}
.header__tel::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: #FFF;
  border-radius: 50%;
  translate: 0 1rem;
  visibility: hidden;
  animation-timing-function: ease;
}
.header__tel:hover::before {
  translate: 0 0.5rem;
  visibility: visible;
  transition-duration: 0.2s;
}
.header__tel:hover {
  translate: 0 -0.3rem;
}
.header__connection {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: fit-content;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  outline: 0.0625rem solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.header__button i {
  pointer-events: none;
}
.header__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70%;
  width: 1rem;
  height: 1rem;
  scale: 0;
  border-radius: 50%;
  background: #FFFFFF;
  transition-duration: 0.6s;
  animation-timing-function: ease-out;
}
.header__button:hover::before, .header__button:focus::before {
  scale: 56;
  background: #FFFFFF;
}
.header__button:hover, .header__button:focus {
  color: #000;
  background: none;
  outline-color: none;
}

.header.sticky {
  position: fixed;
  background-color: #F7624C;
}
.header.sticky > .header__container {
  align-items: center;
}

.burger {
  display: none;
  position: relative;
}
.burger__icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 2rem;
  height: 1.5rem;
  position: relative;
  z-index: 1;
}
.burger__icon.active span {
  width: 0;
}
.burger__icon.active span::before {
  rotate: -45deg;
  top: 50%;
}
.burger__icon.active span::after {
  rotate: 45deg;
  top: 50%;
}
.burger__icon span {
  background-color: #FFFFFF;
  transition-duration: 0.5s;
  height: 0.1875rem;
  width: 80%;
  border-radius: 2rem;
  overflow: hidden;
  pointer-events: none;
}
.burger__icon span::before, .burger__icon span::after {
  content: "";
  position: absolute;
  right: 0;
  height: 0.1875rem;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 2rem;
  transition-duration: 0.5s;
  overflow: hidden;
  pointer-events: none;
}
.burger__icon span::before {
  top: 0;
}
.burger__icon span::after {
  bottom: 0;
}
.burger__wrapper {
  position: absolute;
  z-index: 0;
  top: -2rem;
  right: -2rem;
  background-color: #F7624C;
  transition-duration: 0.5s;
  width: max-content;
  border-radius: 0 0 2rem 2rem;
  padding: 2rem;
  padding-top: 6rem;
  translate: 0 -25rem;
  opacity: 0;
}
.burger__wrapper.active {
  translate: 0 0;
  opacity: 1;
}
.burger__nav {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.burger__nav-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 550;
}
.burger__nav-item::after {
  content: "";
  background-color: #FFFFFF;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.burger__button {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  outline: 0.0625rem solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.burger__button i {
  pointer-events: none;
}
.burger__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70%;
  width: 1rem;
  height: 1rem;
  scale: 0;
  border-radius: 50%;
  background: #FFFFFF;
  transition-duration: 0.6s;
  animation-timing-function: ease-out;
}
.burger__button:hover::before, .burger__button:focus::before {
  scale: 56;
  background: #FFFFFF;
}
.burger__button:hover, .burger__button:focus {
  color: #000000;
  background: none;
  outline-color: #FFFFFF;
}

@media (max-width: 960px) {
  .burger {
    display: block;
  }
  .header__container {
    align-items: center;
  }
  .header__nav {
    display: none;
  }
  .header__connection {
    display: none;
  }
}
.footer {
  color: #ADE5E4;
  font-size: 0.75rem;
}
.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 0;
}
.footer__socials-title {
  color: #1C5564;
  font-weight: 550;
  margin-bottom: 0.5rem;
}
.footer__socials-wrapper {
  display: flex;
  gap: 0.5rem;
}
.footer__socials-icon {
  cursor: pointer;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.footer__socials-icon--zen {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--zen:hover {
  font-size: 1.5rem;
  color: #FFFFFF;
  background-color: #2C3036;
  scale: 1.1;
}
.footer__socials-icon--telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--telegram:hover {
  background-color: #229ED9;
  scale: 1.1;
}
.footer__socials-icon--youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--youtube:hover {
  font-size: 0.75rem;
  background-color: #ff0000;
  scale: 1.1;
}
.footer__socials-icon--vk {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--vk:hover {
  background-color: #0E7CFF;
  scale: 1.1;
}
.footer__socials-icon--instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  scale: 1.1;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__nav-item {
  cursor: pointer;
  position: relative;
  transition-duration: 0.5s;
  text-wrap: nowrap;
}
.footer__nav-item::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #F7624C;
  border-radius: 50%;
  scale: 0;
  transition-duration: 0.5s;
}
.footer__nav-item:hover {
  color: #FFFFFF;
  opacity: 1;
  translate: 1rem 0;
}
.footer__nav-item:hover::before {
  scale: 1;
  translate: -1rem 0;
}
.footer__location {
  font-weight: 550;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__location-linksbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__location-title {
  color: #1C5564;
}
.footer__location-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__location-item:hover i::before {
  color: #F7624C;
}
.footer__worktime {
  color: #1C5564;
  font-weight: 550;
}
.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  rotate: 90deg;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.5rem;
  outline: 0.125rem solid #1C5564;
  transition-duration: 0.5s;
  will-change: outline;
}
.footer__button:hover {
  background-color: #F7624C;
  outline: none;
  scale: 1.3;
}
.footer__button::before {
  color: #FFFFFF;
}
.footer__docs {
  color: #1C5564;
  font-weight: 550;
  height: 1.5rem;
  margin-bottom: 2rem;
  overflow: visible;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__badge {
  background-color: black;
  color: #3D3C3C;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 0;
  padding: 0.8rem 0;
  border-radius: 6vw 6vw 0 0;
}
.footer__badge-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.footer__badge-logo {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .footer__socials-wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 860px) {
  .footer__nav {
    display: none;
  }
}
@media (max-width: 730px) {
  .footer__docs {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: fit-content;
  }
  .footer__logo {
    display: none;
  }
}
@media (max-width: 620px) {
  .footer__links {
    flex-direction: column-reverse;
  }
  .footer__button {
    align-self: flex-end;
  }
}
@media (max-width: 390px) {
  .footer__badge-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.modal-privacy {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: 40rem;
  max-height: 90vh;
  overflow-y: auto;
  padding: 2rem;
  font-size: 1.125rem;
  font-weight: 550;
  color: #ADE5E4;
  background-color: #1C5564;
}
.modal-privacy::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-privacy__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal-privacy__closeBtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  transition-duration: 0.5s;
}
.modal-privacy__closeBtn:hover {
  rotate: 90deg;
}
.modal-privacy__title {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.modal-privacy__update-time {
  text-align: right;
  font-weight: normal;
  opacity: 0.2;
}
.modal-privacy__subtitle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal-privacy__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  counter-reset: item-counter;
}
.modal-privacy__item {
  position: relative;
}
.modal-privacy__item::before {
  counter-increment: item-counter;
  content: counter(item-counter) ".";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
}
.modal-privacy__item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-privacy__item-title {
  font-size: 1.5rem;
  text-indent: 1.5rem;
}

.block-scroll {
  overflow-y: hidden;
}

.modal-form {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: 35rem;
  max-height: 90vh;
  overflow-y: auto;
  padding: 2rem;
  color: inherit;
  text-wrap: wrap;
  background-color: #F7624C;
}
.modal-form::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-form__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.modal-form__closeBtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  transition-duration: 0.5s;
}
.modal-form__closeBtn:hover {
  rotate: 90deg;
}
.modal-form__titlebox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.modal-form__title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 550;
}
.modal-form__subtitle {
  font-size: 1.5rem;
}
.modal-form__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-form__input {
  cursor: text;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
}
.modal-form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.modal-form__input:hover, .modal-form__input:focus {
  background: none;
  outline: 0.09375rem solid #FFFFFF;
}
.modal-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  outline: 0.0625rem solid none;
  background: #FFFFFF;
  color: #001824;
  transition-duration: 0.5s;
  font-size: 1.25rem;
}
.modal-form__button i {
  pointer-events: none;
}
.modal-form__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70%;
  width: 1rem;
  height: 1rem;
  scale: 0;
  border-radius: 50%;
  background: #F7624C;
  transition-duration: 0.6s;
  animation-timing-function: ease-out;
}
.modal-form__button:hover::before, .modal-form__button:focus::before {
  scale: 56;
  background: #F7624C;
}
.modal-form__button:hover, .modal-form__button:focus {
  color: #FFFFFF;
  background: #FFFFFF;
  outline-color: none;
}
.modal-form__agreement {
  text-align: center;
  translate: 0 -0.5rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}
.modal-form__agreement-link {
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: underline;
}
.modal-form__footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modal-form__hint-link {
  font-weight: 550;
  text-decoration: underline;
}
.modal-form__linksbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-form__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal-form__socials-icon {
  width: 2rem;
  aspect-ratio: 1/1;
}
.modal-form__socials-icon--tg {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.modal-form__socials-icon--tg:hover {
  background-color: #229ED9;
  scale: 1.1;
}
.modal-form__socials-icon--vk {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.modal-form__socials-icon--vk:hover {
  background-color: #0E7CFF;
  scale: 1.1;
}
.modal-form__socials-icon--insta {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.modal-form__socials-icon--insta:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  scale: 1.1;
}
.modal-form__email {
  font-size: 1.125rem;
  font-weight: 550;
  text-decoration: underline;
}

.contact {
  position: relative;
  z-index: 1;
  margin-top: 8rem;
  padding: 5rem 0;
  background-color: #001824;
  border-radius: 0 0 6vw 6vw;
}
.contact__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
}
.contact__form-wrapper {
  height: 100%;
  position: relative;
}
.contact__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.contact__title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ADE5E4;
}
.contact__title-accent {
  text-decoration: underline;
}
.contact__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact__item-title {
  color: #1C5564;
}
.contact__item-link:not(.contact__item-link--tel) {
  position: relative;
}
.contact__item-link:not(.contact__item-link--tel)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #FFFFFF;
  border-radius: 2rem;
  transition-duration: 0.5s;
}
.contact__item-link:not(.contact__item-link--tel):hover::before {
  width: 100%;
}
.contact__item-link--tel {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 550;
}
.contact__item-text--location {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.contact__item-text--location:hover i::before {
  color: #F7624C;
}

.form {
  position: sticky;
  top: 8rem;
}
.form__title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #ADE5E4;
  font-weight: 550;
  text-wrap: wrap;
}
.form__subtitle {
  font-size: 0.9375rem;
  color: #ADE5E4;
  opacity: 0.5;
  margin-top: 1rem;
}
.form__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
.form__input, .form__textarea {
  background-color: rgba(28, 84, 100, 0.2);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  color: #FFFFFF;
}
.form__input:hover, .form__input:focus, .form__textarea:hover, .form__textarea:focus {
  outline: 0.0625rem solid #FFFFFF;
  border: none;
  background-color: #001824;
}
.form__textarea {
  resize: none;
  height: 8rem;
}
.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  outline: 0.0625rem solid #1C5564;
  background: #1C5564;
  color: #FFFFFF;
  transition-duration: 0.5s;
  font-size: 1.25rem;
}
.form__button i {
  pointer-events: none;
}
.form__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70%;
  width: 1rem;
  height: 1rem;
  scale: 0;
  border-radius: 50%;
  background: #F7624C;
  transition-duration: 0.6s;
  animation-timing-function: ease-out;
}
.form__button:hover::before, .form__button:focus::before {
  scale: 56;
  background: #F7624C;
}
.form__button:hover, .form__button:focus {
  color: #FFFFFF;
  background: #1C5564;
  outline-color: #F7624C;
}
.form__footnote {
  font-size: 0.75rem;
  color: #ADE5E4;
  opacity: 0.5;
  text-align: center;
  margin-top: 0.5rem;
}
.form__footnote a {
  text-decoration: underline;
}

.map {
  position: relative;
  z-index: 0;
  height: 70vh;
  overflow: hidden;
  border-radius: 0 0 6vw 6vw;
  translate: 0 -6vw;
}
.map__container {
  height: 100%;
}

@media (max-width: 1300px) {
  .contact__item-link--tel {
    font-size: 3rem;
  }
}
@media (max-width: 1100px) {
  .contact {
    margin-top: 2rem;
  }
  .contact__container {
    grid-template-columns: 1fr;
  }
  .contact__info-wrapper {
    grid-row-start: 1;
  }
}
@media (max-width: 500px) {
  .contact__item-link--tel {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .form__input, .form__textarea {
    font-size: 0.825rem;
  }
  .form__button {
    font-size: 1rem;
  }
  .main h2 {
    font-size: 1.5rem;
  }
}