* {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: default;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active {
  outline: none;
}

a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
a {
  cursor: pointer;
  font-size: inherit;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  width: fit-content;
  height: fit-content;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "Golos", sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-wrap: balance;
  color: #FFFFFF;
  background-color: #001824;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@font-face {
  font-family: "Golos";
  src: "../../fonts/GolosText-VariableFont_wght.ttf" format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 1.5rem 0;
  transition-duration: 0.5s;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  cursor: pointer;
}
.header__nav {
  display: flex;
  gap: 1rem;
}
.header__nav-item {
  position: relative;
  transition-duration: 0.5s;
}
.header__nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: #FFF;
  border-radius: 50%;
  translate: 0 1rem;
  visibility: hidden;
  animation-timing-function: ease;
}
.header__nav-item:hover::before {
  translate: 0 0.5rem;
  visibility: visible;
  transition-duration: 0.2s;
}
.header__nav-item:hover {
  translate: 0 -0.3rem;
}
.header__nav-item[data-force-hover] {
  translate: 0 -0.3rem;
  font-weight: 550;
  pointer-events: none;
}
.header__nav-item[data-force-hover]::before {
  translate: 0 0.5rem;
  visibility: visible;
  transition-duration: 0.2s;
}
.header__tel {
  position: relative;
  transition-duration: 0.5s;
}
.header__tel::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: #FFF;
  border-radius: 50%;
  translate: 0 1rem;
  visibility: hidden;
  animation-timing-function: ease;
}
.header__tel:hover::before {
  translate: 0 0.5rem;
  visibility: visible;
  transition-duration: 0.2s;
}
.header__tel:hover {
  translate: 0 -0.3rem;
}
.header__connection {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: fit-content;
}
.header__button {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  outline: 0.0625rem solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.header__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70%;
  width: 1rem;
  height: 1rem;
  scale: 0;
  border-radius: 50%;
  background: #FFFFFF;
  transition-duration: 0.6s;
  animation-timing-function: ease-out;
}
.header__button:hover::before {
  scale: 56;
  background: #FFFFFF;
}
.header__button:hover {
  color: #000;
  background: none;
  outline-color: none;
}

.header.sticky {
  position: fixed;
  background-color: #F7624C;
}
.header.sticky > .header__container {
  align-items: center;
}

.burger {
  display: none;
  position: relative;
}
.burger__icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 2rem;
  height: 1.5rem;
  position: relative;
  z-index: 1;
}
.burger__icon.active span {
  width: 0;
}
.burger__icon.active span::before {
  rotate: -45deg;
  top: 50%;
}
.burger__icon.active span::after {
  rotate: 45deg;
  top: 50%;
}
.burger__icon span {
  background-color: #FFFFFF;
  transition-duration: 0.5s;
  height: 0.1875rem;
  width: 80%;
  border-radius: 2rem;
  overflow: hidden;
  pointer-events: none;
}
.burger__icon span::before, .burger__icon span::after {
  content: "";
  position: absolute;
  right: 0;
  height: 0.1875rem;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 2rem;
  transition-duration: 0.5s;
  overflow: hidden;
  pointer-events: none;
}
.burger__icon span::before {
  top: 0;
}
.burger__icon span::after {
  bottom: 0;
}
.burger__wrapper {
  position: absolute;
  z-index: 0;
  top: -2rem;
  right: -2rem;
  background-color: #F7624C;
  transition-duration: 0.5s;
  width: max-content;
  border-radius: 1rem;
  padding: 2rem;
  padding-top: 6rem;
  translate: 0 -25rem;
  opacity: 0;
}
.burger__wrapper.active {
  translate: 0 0;
  opacity: 1;
}
.burger__nav {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.burger__nav-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 550;
}
.burger__nav-item::after {
  content: "";
  background-color: #FFFFFF;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.burger__button {
  margin-top: 2rem;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  outline: 0.0625rem solid #FFFFFF;
  background: none;
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.burger__button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70%;
  width: 1rem;
  height: 1rem;
  scale: 0;
  border-radius: 50%;
  background: #FFFFFF;
  transition-duration: 0.6s;
  animation-timing-function: ease-out;
}
.burger__button:hover::before {
  scale: 56;
  background: #FFFFFF;
}
.burger__button:hover {
  color: #000000;
  background: none;
  outline-color: #FFFFFF;
}

@media (max-width: 960px) {
  .burger {
    display: block;
  }
  .header__container {
    align-items: center;
  }
  .header__nav {
    display: none;
  }
  .header__connection {
    display: none;
  }
}
.footer {
  color: #ADE5E4;
  font-size: 0.75rem;
}
.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 0;
}
.footer__socials-title {
  color: #1C5564;
  font-weight: 550;
  margin-bottom: 0.5rem;
}
.footer__socials-wrapper {
  display: flex;
  gap: 0.5rem;
}
.footer__socials-icon {
  cursor: pointer;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.footer__socials-icon--zen {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--zen:hover {
  font-size: 1.5rem;
  color: #FFFFFF;
  background-color: #2C3036;
  scale: 1.1;
}
.footer__socials-icon--telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--telegram:hover {
  background-color: #229ED9;
  scale: 1.1;
}
.footer__socials-icon--youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--youtube:hover {
  font-size: 0.75rem;
  background-color: #ff0000;
  scale: 1.1;
}
.footer__socials-icon--vk {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--vk:hover {
  background-color: #0E7CFF;
  scale: 1.1;
}
.footer__socials-icon--instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.5s;
  will-change: scale;
  border-radius: 50%;
}
.footer__socials-icon--instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  scale: 1.1;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__nav-item {
  cursor: pointer;
  position: relative;
  transition-duration: 0.5s;
  text-wrap: nowrap;
}
.footer__nav-item::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #F7624C;
  border-radius: 50%;
  scale: 0;
  transition-duration: 0.5s;
}
.footer__nav-item:hover {
  color: #FFFFFF;
  opacity: 1;
  translate: 1rem 0;
}
.footer__nav-item:hover::before {
  scale: 1;
  translate: -1rem 0;
}
.footer__location {
  font-weight: 550;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__location-linksbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__location-title {
  color: #1C5564;
}
.footer__location-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__location-item:hover i::before {
  color: #F7624C;
}
.footer__worktime {
  color: #1C5564;
  font-weight: 550;
}
.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  rotate: 90deg;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.5rem;
  outline: 0.125rem solid #1C5564;
  transition-duration: 0.5s;
  will-change: outline;
}
.footer__button:hover {
  background-color: #F7624C;
  outline: none;
  scale: 1.3;
}
.footer__button::before {
  color: #FFFFFF;
}
.footer__docs {
  color: #1C5564;
  font-weight: 550;
  height: 1.5rem;
  margin-bottom: 2rem;
  overflow: visible;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.footer__badge {
  background-color: black;
  color: #3D3C3C;
  font-size: 1rem;
  font-weight: 550;
  letter-spacing: 0;
  padding: 0.8rem 0;
  border-radius: 6vw 6vw 0 0;
}
.footer__badge-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.footer__badge-logo {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .footer__socials-wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 860px) {
  .footer__nav {
    display: none;
  }
}
@media (max-width: 730px) {
  .footer__docs {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: fit-content;
  }
  .footer__logo {
    display: none;
  }
}
@media (max-width: 620px) {
  .footer__links {
    flex-direction: column-reverse;
  }
  .footer__button {
    align-self: flex-end;
  }
}
@media (max-width: 390px) {
  .footer__badge-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.docs {
  padding: 10rem 0;
  counter-reset: item-counter;
}
.docs__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 8rem;
}
.docs__sider {
  height: 100%;
  position: relative;
}
.docs__nav {
  position: sticky;
  top: 8rem;
}
.docs__nav-title {
  font-size: 1.5rem;
  font-weight: 550;
}
.docs__nav-item {
  position: relative;
  transition-duration: 0.5s;
  color: #ADE5E4;
  margin: 1rem 0;
}
.docs__nav-item::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #F7624C;
  border-radius: 50%;
  scale: 0;
  transition-duration: 0.5s;
}
.docs__nav-item:hover {
  color: #FFFFFF;
  opacity: 1;
  translate: 1rem 0;
}
.docs__nav-item:hover::before {
  scale: 1;
  translate: -1rem 0;
}
.docs__title {
  font-size: 4rem;
  line-height: 4rem;
}
.docs__subtitle {
  margin-top: 2rem;
}
.docs__subtitle :first-child {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.docs__section {
  scroll-margin-top: 8rem;
  margin-top: 6rem;
  padding-left: 4rem;
  color: #ADE5E4;
  position: relative;
}
.docs__section::before {
  counter-increment: item-counter;
  content: counter(item-counter) ".";
  position: absolute;
  top: 0.75rem;
  left: -0.5rem;
  font-size: 3rem;
  font-weight: 550;
}
.docs__section-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 550;
}
.docs__section-description {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 550;
}
.docs__spoiler {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.docs__spoiler-item {
  opacity: 0.7;
  transition-duration: 0.5s;
}
.docs__spoiler-item.active {
  color: #FFFFFF;
  opacity: 1;
}
.docs__spoiler-item-title {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 550;
}
.docs__spoiler-item-icon {
  cursor: pointer;
  rotate: 45deg;
  transition-duration: 0.5s;
}
.docs__spoiler-item-icon::before {
  color: #ADE5E4;
}
.docs__spoiler-item-icon.active {
  rotate: 180deg;
}
.docs__spoiler-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 0;
  overflow: hidden;
  translate: 0 -2rem;
  transition-duration: 0.5s;
}
.docs__spoiler-list.active {
  margin: 2rem 0;
  max-height: 20rem;
  translate: 0 0;
  transition-duration: 0.5s;
}
.docs__spoiler-list-item {
  position: relative;
  translate: 0.75rem 0;
}
.docs__spoiler-list-item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: -0.75rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #ADE5E4;
  border-radius: 50%;
}
.docs__spoiler-list-item a {
  font-size: 0.9375rem;
  color: #F0AC87;
  margin-left: 0.75rem;
}
.docs__spoiler-list-item a:hover {
  text-decoration: underline;
}
.docs__banner {
  padding: 2rem;
  background-color: #F7624C;
  border-radius: 2rem 2rem 0 2rem;
}
.docs__banner-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 550;
}
.docs__banner-subtitle {
  margin-top: 1rem;
}
.docs__banner a {
  display: block;
  margin-top: 2rem;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  outline: 0.0625rem solid #FFFFFF;
  background: #FFFFFF;
  color: #F7624C;
  transition-duration: 0.5s;
}
.docs__banner a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 70%;
  width: 1rem;
  height: 1rem;
  scale: 0;
  border-radius: 50%;
  background: #F7624C;
  transition-duration: 0.6s;
  animation-timing-function: ease-out;
}
.docs__banner a:hover::before {
  scale: 56;
  background: #F7624C;
}
.docs__banner a:hover {
  color: #FFFFFF;
  background: #FFFFFF;
  outline-color: #FFFFFF;
}

.forms {
  scroll-margin-top: 8rem;
}
.forms__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
.forms__title {
  font-size: 4rem;
  line-height: 5rem;
}
.forms__tagsbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
}
.forms__tag {
  font-size: 0.75rem;
  color: #1C5564;
  padding: 0.25rem 1rem;
  outline: 0.0625rem solid #1C5564;
  border-radius: 2rem;
  transition-duration: 0.5s;
}
.forms__tag:hover {
  color: #FFFFFF;
  outline-color: #FFFFFF;
}
.forms__tag.active {
  pointer-events: none;
  color: #FFFFFF;
  background-color: #1C5564;
}
.forms__itembox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 4rem;
}
.forms__item {
  max-width: 19.75rem;
  aspect-ratio: 1/1;
  outline: 0.0625rem solid #1C5564;
  border-radius: 2rem;
  padding: 2rem;
  text-wrap: wrap;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.5s;
}
.forms__item:hover {
  outline-color: #FFFFFF;
  translate: 0 -1rem;
}
.forms__item:hover .forms__item-icon::before {
  transition-duration: 0.5s;
  filter: drop-shadow(0px 0px 20px rgb(28, 85, 100));
}
.forms__item:hover .forms__item-link {
  max-height: 2rem;
}
.forms__item-icon {
  font-size: 4rem;
}
.forms__item-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  overflow: hidden;
  max-height: 0;
  transition-duration: 0.5s;
}

@media (max-width: 1100px) {
  .docs__container {
    grid-template-columns: auto;
  }
  .docs__sider {
    display: none;
  }
  .forms__itembox {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 780px) {
  .docs__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .docs__section {
    padding: 0;
  }
  .docs__section-title {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
  .docs__section__description {
    font-size: 1.25rem;
  }
  .docs__section::before {
    display: none;
  }
  .docs__spoiler-item-title {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  .docs__banner-title {
    font-size: 2rem;
  }
  .forms__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .forms__itembox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 510px) {
  .docs__section-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .docs__section-description {
    display: none;
  }
  .docs__spoiler-item-title {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .forms__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .forms__itembox {
    grid-template-columns: repeat(1, 1fr);
  }
}