.staff {
    &__container {
        @include content-width();
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__sticky-space {
        position: relative;
        height: 100%;
    }
    &__titlebox {
        height: fit-content;
        position: sticky;
        top: 10rem;
    }
    &__title {
        font-size: $title-fs;
        line-height: $title-fs;
    }
    &__subtitle {
        margin-top: 2rem;
        width: 60%;
        & a {
            color: $add-color;
            position: relative;
            &:hover {
                color: $text-color;
            }
            &::before {
                content: '';
                position: absolute;
                right: -0.75rem;
                top: 35%;
                width: 0.375rem;
                height: 0.375rem;
                background-color: $add-color;
                border-radius: 50%;
            }
        }
    }
    &__top {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    &__ordinary {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3rem 1rem;
        margin-top: 4rem;
    }
    &__item {
        & a {
            display: block;
            font-size: 0.9375rem;
            color: $add-color;
            margin-top: 1.5rem;
            position: relative;
            &:hover {
                color: $text-color;
            }
            &::before {
                content: '';
                position: absolute;
                right: -0.75rem;
                top: 35%;
                width: 0.375rem;
                height: 0.375rem;
                background-color: $add-color;
                border-radius: 50%;
            }
        }
    }
    &__img-wrapper {
        max-width: 15.3125rem;
        max-height: 15.3125rem;
        @include flex-center();
        border-radius: calc($border-radius / 2);
        overflow: hidden;
        transition-duration: $duration;
        & picture {
            transition-duration: $duration;
        }
        &:hover {
            border-radius: $border-radius;
        }
        &:hover picture {
            scale: 1.2;
        }
        &--top {
            max-width: 23.5rem;
            max-height: 23.5rem;
        }
    }
    &__img {
        width: 100%;
    }
    &__post {
        color: $add-color;
        font-size: 0.75rem;
        font-weight: $font-weight;
        margin-top: 1rem;
    }
    &__name {
        font-size: 1.5rem;
    }
}